.categoryContainer {
  display: flex;
  flex-direction: column;
}

.categoryItem {
  width: 24vh;
  padding: 0.6vh;
  margin: 0.3vh;
  border: 0.3vh solid rgb(232,232,232)
}

#cartButtonContainer {
  display: flex;
  flex-direction: row-reverse;
}

